
.content-box{
    padding: 20px;
}
.content-style{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #c0c0c0;
    margin-top: 20px;
}

.title-m{
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
}

.oprate-style{
    height: 20px;
    line-height: 20px;
}
.a-style1{
    text-decoration: underline;
    color:#478FCA;
}
.icon-style{
    color:#393;
    font-size: 22px!important;
}
.icon-style:hover {
    color: #66cc00;
}
a.icon-style > i {
    font-size: 22px!important;
}
a.icon-style:hover {
    text-decoration: none;
}
.pager>li>a, .pagination>li>a{
    color: #333;
}
.pager>li>a, .pagination>li>a:hover{
    background: #393;
    color: #fff;
    border-color:#393;
}


/*证书更新弹窗*/
.new_title{
    border-bottom: 1px solid #eee;
    margin: 0 40px;
    padding-top: 30px;
}
.new_cont{
    padding: 0 40px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 18px;
}

.new_title .close-btn{
    display: inline-block;
    float: right;
}
.new_title span{

    height: 39px;
    line-height: 39px;
    font-size: 18px;
    color: #393;
    border-bottom: 2px solid #393;
    padding-bottom: 9px;
    padding-right: 50px;
}
.new_btn{
    margin: 10px 40px 0;
    text-align: center;
}
.new_btn_1{
    width: 110px;
    height: 40px;
    background: #393;
    color: #fff;
    border: 1px solid #393;
    border-radius: 4px;
    font-size: 16px;
}
.new_btn_2{
    width: 110px;
    height: 40px;
    background: #fff;
    border: 1px solid #393;
    border-radius: 4px;
    margin-left: 41px;
    color: #393;
    font-size: 16px;
}
.new_key{
    padding: 0 40px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
}
.new_key input{
    height: 40px;
    width: 300px;
    padding: 15px;
    border-radius: 4px!important;
}

.new_fees{
    padding: 0 40px;
    font-size: 18px;
}
.new_fees p{
    margin-bottom: 10px;
}
.new_fees p:first-child{
    margin-top: 24px;
}
.new_fees_btn{
    margin: 35px 40px 0;
    text-align: center;
}
.fees_ipone{
    color: #393;
    font-size: 19px;
}

.new_conts{
    color:#ff5a00;
    padding: 0 40px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 18px;
}
.icon_color{
    font-size: 24px;

    padding-right: 5px;
}
.new_btn_3{
    width: 110px;
    height: 40px;
    background: #393;
    color: #fff;
    border: 1px solid #393;
    border-radius: 4px;
    font-size: 16px;
}
.new_btn_4{
    width: 110px;
    height: 40px;
    background: #fff;
    border: 1px solid #393;
    border-radius: 4px;
    margin-right: 40px;
    color: #393;
    font-size: 16px;
}
.new_btn_4:hover{
    background: #393;
    color: #fff;
}

